body {
  background-color: #2e2e2e;
}

button {
  color: #202020;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  padding: 20px;
  margin: 2.5px;
  font-size: 29px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #a7a7a7;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.status {
  font-size: 50px;
  color: #ffffff;
}
.game {
  text-align: center;
}